
body {
    background-color: lightblue;
}
h1 {
    color : red;
    margin-left : 20px;
}
ul{
    list-style-image : url("https://media.prod.mdn.mozit.cloud/attachments/2015/12/02/11981/8819bb284bb8c5f9a3ea9389cdd8ba57/starsolid.gif");
}