.col,.col-1,div[class*='col-']{
    border : 1px solid black;
}

#profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 60px;
}
#event{
    width: 400px;
    vertical-align: middle;
   
}

