<head>
    <link rel ="stylesheet" type ="text/css" href ="link.css">
</head>
<title>
    Link
</title>
<br>
    <!-- 
    <a href="hypertext.html" target="_blank">link
        <img src="https://cmu.ac.th/content/images/logo.png"/>
    </a>-->
    <h1>List data</h1>
    <ol>
        <li><a href="https://www.cmu.ac.th/" target="_blank">Link to CMU web site</a></br></li>
        <li><a href="http://www.camt.cmu.ac.th/" target="_blank"> Link to CAMT web site</a></br></li>
        <li><a href="https://www.google.com" target="_blank"> Link to Google web site</a></br></li>
    </ol>
    <table><h2>and the link to the logo</h2>
        <tr>
            <td>
            <a href="https://www.cmu.ac.th/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/th/thumb/7/7b/Chiang_Mai_University_Logo.png/1200px-Chiang_Mai_University_Logo.png" width="150" height="150"/>
            </a>
            </td>
            <td> </td>
            <td> </td>
        </tr>
    
        <tr>
            <td> </td>
            <td> </td>
            <td rowspan="2">
            <a href="http://www.camt.cmu.ac.th/" target="_blank">
                <img src="https://www.camt.cmu.ac.th/th/logo/camt_vertical.jpg" width="250" height="200"/>
            </a>
            </td>
        </tr>
        <tr> 
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td>
            <a href="https://www.google.com" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1004px-Google_%22G%22_Logo.svg.png" width="150" height="150" />
            </a>
            </td>
            <td> </td>
        </tr>
    </table>
    </body>