table, th,td{
    
    border-collapse: collapse;
}
table{
    width: 100%;
    table-layout: fixed;
}
.img2 {
    border-radius: 20px;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
  }
  .img1{
    border-radius: 20px; 
  }