
/* short Bio */
body > img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body > table:nth-child(2) > tbody > tr > td:nth-child(1){
    width: 50%; background-color:#311a04 ;
}
table{
    width: 100%;
}
body > table:nth-child(2) > tbody > tr > td:nth-child(1) > img{
    margin-left: 30%;
    border-radius: 50%; 
    margin-top: 100px; 
    
}
body > table:nth-child(2) > tbody > tr > td:nth-child(1) > h1{
    margin-left: 35%;
    color: seashell;
}
body > table:nth-child(2) > tbody > tr > td:nth-child(1) > h2{
    margin-left: 10%;
    color: seashell;
}
p{
    font-size: 20px;
    padding-left: 100px;
}
body > table:nth-child(2) > tbody > tr > td:nth-child(2) > h1{
    margin-left: 100px;
}

body > table:nth-child(2) > tbody > tr > td:nth-child(2){
    background-color: #fef2e6 ;
}
li{
    margin-left: 30%;
    font-size: 16px;
}

/* activity image*/

body > table:nth-child(3) > tbody > tr:nth-child(1) > td:nth-child(1){
    width: 50%; 
    padding-left: 250px;
}
body > table:nth-child(3) > tbody > tr:nth-child(2) > td:nth-child(1){ 
    padding-left: 100px;
}
body > table:nth-child(3) > tbody > tr:nth-child(3) > td:nth-child(1){
    width: 50%; 
    padding-left: 250px;
}
#grey{
    background-color: lightgray;
}
#layout{
    padding-left: 50px;
    padding-right: 50px;
}
#font-color{
    color: brown ;
}





