<header> 
    <link rel ="stylesheet" type ="text/css" href ="using_class.css">
</header>
    <img class="round" src="../assets/profile.jpg" height="200" width="200 "/>
</bt>
</br>
    <img class="blur" src="../assets/profile.jpg" height="200" width="200 "/>
</br>
<div class="page">
<p class="synopsis">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
    culpa qui officia deserunt mollit anim id est laborum.
</p>
    <div class='button' >Button One</div>
</div>

<div> </div>

</body>