table,th,td{
    border: 5px solid white;
    border-collapse:  collapse;
}
table,td{
    width: 100px;
    height: 100px;
    table-layout: fixed;
}
.green{
    background-color: green;
    cursor : pointer;
}
.red{
    background-color: red;
    cursor: text;
}
.grey{
    background-color: grey;
}

.onHover :hover{
    cursor : pointer;
}