<header> 
    <link rel ="stylesheet" type ="text/css" href ="using_class2.css">
</header>
<body>
<table>
    <tr>
        <td class="green"></td>
        <td class="red"></td>
        <td class="grey"></td>
    </tr>
    <tr>
        <td class="grey"></td>
        <td class="green"></td>
        <td class="red"></td>
    </tr>
    <tr>
        <td class="red"></td>
        <td class="grey"></td>
        <td class="green"></td>
    </tr>
</table>
</body>