table,th,td{
    border: 5px solid white;
    border-collapse:  collapse;
}
table,td{
    width: 100px;
    height: 100px;
    table-layout: fixed;
}

img.round {
    border-radius: 8px;
}
img.blur {
    -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
    filter: blur(6px);
}
.synopsis{
    color:  #7E8184;
    font-style: italic;
}

.button{
    color:#FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;

}
.page{
    width: 600px;
    margin:  0 auto;
}
.button:hover {
    cursor: none;
}
.button:hover:active{
    cursor: wait;
}

